---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="p-8">
    <ul>
      <li><a href="/stories" class="underline">Stories Example</a></li>
    </ul>
  </div>
</BaseLayout>
