---
import { ViewTransitions } from "astro:transitions";
import Logo from "../assets/logo-color.svg?raw";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content="{Astro.generator}" />
    <title>Astro</title>
    <ViewTransitions />
  </head>
  <body>
    <header>
      <span class="w-48">
        <Fragment set:html={Logo} />
      </span>
    </header>
    <main>
      <slot />
    </main>
    <style>
      header {
        display: grid;
        padding: clamp(20px, 4vw, 30px);
      }
      main {
        padding: 0 clamp(20px, 4vw, 30px);
      }
    </style>
  </body>
</html>
